version: '3.8'

services:
  # 1. Jellyfin - Gestión de Medios
  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
    networks:
      - tv-network
    ports:
      - "8096:8096"
    volumes:
      - ./config/jellyfin:/config
      - ./media:/media:ro # 'ro' para que el contenedor solo lea y no borre por error
    restart: unless-stopped
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]

  # 2. ErsatzTV - Programación de canales "Live"
  ersatztv:
    # Cambiamos de :latest-nvidia a :latest
    image: jasongdove/ersatztv:latest
    container_name: ersatztv
    networks:
      - tv-network
    ports:
      - "8409:8409"
    volumes:
      - ./config/ersatztv:/config
      - ./media:/media:ro
    environment:
      - TZ=America/Bogota
    restart: unless-stopped
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]

  # 3. Restreamer - Control Maestro
  restreamer:
    image: datarhei/restreamer:latest
    container_name: restreamer
    networks:
      - tv-network
    ports:
      - "8080:8080"
      - "1935:1935"
    volumes:
      - ./config/restreamer:/core/config
      - ./config/restreamer/data:/core/data
    environment:
      - RS_USERNAME=admin
      - RS_PASSWORD=admin
    restart: unless-stopped
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]

  # 4. Owncast - Distribución Pública (Tu propio "Twitch")
  owncast:
    image: owncast/owncast:latest
    container_name: owncast
    networks:
      - tv-network
    ports:
      - "8081:8080"
    volumes:
      - ./config/owncast:/data
    restart: unless-stopped

  # 5. Nginx Proxy Manager - El Gateway (SSL y Dominios)
  npm:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: npm
    networks:
      - tv-network
    ports:
      - '80:80'
      - '81:81'
      - '443:443'
    volumes:
      - ./config/npm/data:/data
      - ./config/npm/letsencrypt:/etc/letsencrypt
    restart: unless-stopped

networks:
  tv-network:
    driver: bridge
